# CONFIGURAÇÕES DA API FASTAPI

API_URL=http://127.0.0.1:8000
PORT=8000
DEBUG=True

# CONFIGURAÇÕES DO BANCO DE DADOS MYSQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=seu_usuario_aqui
DB_PASSWORD=sua_senha_aqui
DB_NAME=nome_do_seu_banco_aqui
